<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/libraries/bootstrap/css/bootstrap.css' />
  </head>
  <body>
    <!-- insert your menu bar here -->
    <h1>This header will appear on ALL NEW PAGES!</h1>
    <%- body %>
  </body>
</html>
